<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <body>
    <footer th:fragment="footer" class="footer ftr">
        <div class="container">
            <div class="content has-text-centered">
                <!-- BJM 20200602 Issue#1-->
                <p><span th:text="${session.currentDate}"></span><strong><span> Cis2232<span></strong></p>
            </div>
        </div>
    </footer>
    </body>

</html>